.descript {
    margin: 4em auto;
    padding: 1em;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(-50%, -135%);
}
.descript h2{
    font-family: "Adam";
    font-weight: bold;
}
.descript p{
    font-family: 'IBM plex Regular';
}

.flickr-embed-frame{
    margin: auto !important;
}
