.descript {
    margin: 3em auto;
}
.descript h2{
    font-family: "Adam";
    font-weight: bold;
}
.descript p{
    font-family: 'IBM plex Regular';
}

.flickr-embed-frame{
    margin: auto !important;
}
